@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
    width: 960px;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 50px; */
    margin: 0 auto;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f0ebf4;
}

.lugar{
    border: 2px solid;
    border-color: #a1c3d1;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #b39bc8;
}

.lugar a{
    font-weight: bold;
    color: #f172a1;
}

h1 a{
    text-decoration: none;
    color: #a1c3d1;
}

h1 a:hover{
    background: #f172a1;
    color: #f0ebf4;
}

.lugar img{
    width: 200px;
    float: left;
    margin:10px 10px 0 0;
    border: 2px solid #a1c3d1;
    padding: 4px;
}

.clear{
    clear:both;
}

.rodape{
    font-size: 12px;
    text-align: center;
}

.lateral{
    background-color: #a1c3d1;
    border: 2px solid #b39bc8;
    padding: 10px;
    width: 260px;
    float: right;
}

.lugares{
    width: 660px;
    float: left;
}

.lateral h3{
    font-size: 14px;
    margin-top: 0;
}

.lateral ol{
    font-size: 12px;
}